<div class="container container-margin">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td class="user-img">
                    <img class="user-image" src="/assets/Twitter.png" alt="No Image Found">
                </td>
                <td>
                    <div class="tweet-details">
                        <div class="">
                            <table class="table-align">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td class="td-width">
                                            <i class="bi bi-person-plus-fill inline-style"></i>
                                            <p class="inline-style margin-style medium-font">Rank: {{individualTweet.index}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-width">
                                            <i class="bi bi-chat-left-fill inline-style"></i>
                                            <p class="inline-style margin-style medium-font">Title: {{individualTweet.title}}</p>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-width">
                                            <i class="bi bi-chat-left-dots-fill inline-style"></i>
                                            <p class="inline-style margin-style medium-font">Text: {{individualTweet.text}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-width">
                                            <i class="bi bi-card-text inline-style"></i>
                                            <p class="inline-style margin-style medium-font">Followers: {{individualTweet.followers_count}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>